/* SCSS modules */
@import 'theme.scss';
@import 'bootstrap.scss';
@import 'overwrites.scss';
@import 'animations.scss';
@import 'view.scss';

/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  html,
  body {
    font-size: 93.75%; // 15px
  }
}

@media (max-width: 720px) {
  html,
  body {
    font-size: 87.5%; // 14px
  }
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

#content-container {
  margin-left: 254px;
  height: 100%;
  padding: 20px 35px;
}

#app {
  height: 100%;
  width: 100%;
  background-color: #fdfdfd;
}
