.btn {
  text-transform: uppercase;
  font-weight: 600;

  &.disabled {
    cursor: initial;

    &:focus {
      box-shadow: none !important;
    }

    &:active {
      box-shadow: none !important;
    }
  }

  &.btn-secondary {
    color: white;

    &:hover {
      color: white;
    }
  }

  &.btn-warning {
    color: white;

    &:active {
      color: white !important;
    }
  }

  &.btn-blue {
    color: #fff;
    background-color: #2980b9;

    &:hover {
      background-color: #2377ad;
    }
  }

  &.btn-whatsapp {
    color: white;
    background-color: #25d366;

    &:hover {
      background-color: #19bd57;
    }
  }
}

.text-bold {
  font-weight: bold;
}
