// $primary: #184d47;
// $secondary: #96bb7c;
// $info: #d6efc7;
// $black: #17202a;
// $gray: #707b7c;

// $theme-colors: (
//   'primary': #184d47,
//   'info': #d6efc7,
//   'secondary': #96bb7c,
// );

$primary: #c15a26;
$secondary: #fd8c53;
$info: #fda65d;
$black: #17202a;
$gray: #707b7c;

$theme-colors: (
  'primary': #c15a26,
  'secondary': #fd8c53,
  'info': #fda65d,
);
