@import '@/styles/theme.scss';

.modal {
  transition: background-color 0.5s;

  .modal-header {
    h4 {
      color: $primary;
    }
  }

  .modal-content {
    max-height: 700px;
    overflow-y: scroll;
  }

  &.show {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
